*{
    box-sizing: content-box;
}
html {
    font-size: 62.5%;
}


body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}


.is-active {
    font-weight: bold;
}